/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://i.pinimg.com/736x/ea/6c/8b/ea6c8bcc6b52eca9b96107cefa81403f--lebron-james-kobe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}