<div class="card text-white bg-dark" style="max-width: 18rem; margin: auto;">
  <div class="card-header">
    <h2 class="text-info">Player Info</h2>
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label style="margin-right: 10px;"><strong>Name:</strong></label>
        <label class="text-warning">{{ playerInfo.first_name | uppercase }}</label>
      </div>
      <div class="mb-3">
        <label style="margin-right: 10px;"><strong>Lats name:</strong></label>
        <label class="text-warning">{{ playerInfo.last_name | uppercase }}</label>
      </div>
      <div class="mb-3">
        <label style="margin-right: 10px;"><strong>Division:</strong></label>
        <label class="text-warning">{{ playerInfo.team.division | uppercase }}</label>
      </div>
      <div class="btn-group" role="group" aria-label="">
        <button type="button" class="btn btn-primary" routerLink="">Back</button>
      </div>
    </form>
  </div>
</div>
