<h1 class="mx-auto text-info" style="width: 500px;">General statistics table</h1>
<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let index = index;" scope="col">{{ head | titlecase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of allPlayers.data; let index=index">
        <td><a routerLink="/player-information/{{ player.id }}">{{ player.first_name | uppercase }}</a></td>
        <td>{{ player.last_name | uppercase }}</td>
        <td>{{ player.team.city | uppercase }}</td>
        <td>{{ player.team.full_name | uppercase }}</td>
      </tr>
    </tbody>
  </table>
</div>